<div class="container">
  <div class="header clearfix">
    <h3 class="text-muted">Kickboard</h3>
  </div>
  <div class="jumbotron">
    <%= form_for(@attachment, data: { remote: true }) do |f| %>
        <div class="col-xs-6 form-group">
          <div class="col-xs-12">
            <%#= f.label 'コミットメッセージ' %><br>
            <legend>コミットメッセージ</legend>
            <%= f.text_field :message %>
          </div>
          <div class="col-xs-12">
            <%#= f.label 'zipファイル' %><br>
            <legend>zipファイル</legend>
            <%= f.file_field :file %>
          </div>
        </div>

        <%- if @attachment.file_data? %>
          <div class="field">
            Remove attachment: <%= f.check_box :remove_file %>
          </div>
        <%- end %>
        <div class="col-xs-6 form-group">
          <%#= f.label 'リポジトリ名' %><br>
          <legend>リポジトリ名</legend>
            <% @repo_names.each do |repo| %>
              <div class="radio">
                <%= f.radio_button :repo_name, repo[:name] %> <%= f.label "repo_name_#{repo[:name]}", repo[:name] %>
                <span> {<%= repo[:branch] %>}</span>
                <span> [<%= repo[:log] %>]</span>
              </div>
            <% end %>
        </div>

        <div class="form-group actions" style="padding-left: 30px;">
          <%= f.submit 'アップロード', class: "btn btn-default" %>
        </div>
      <% end %>
    </div><!-- jumbotron -->

  <div class='jumbotron'>
    <div class="col-xs-6 form-group">
      <legend>リポジトリ名</legend>
      <%= form_tag 'attachments/rollback', method: :post do %>
        <% @repo_names.each do |repo| %>
          <div class="radio">
            <%= radio_button_tag :repo_name, repo[:name] %> <%= label "repo_name_", repo[:name] %>
            <span> {<%= repo[:branch] %>}</span>
            <span> [<%= repo[:log] %>]</span>
          </div>
        <% end %>
        <%= submit_tag 'ロールバック', class: "btn btn-danger" %>
      <% end %>
    </div>
    <div class="col-xs-6">
      <h3>ロールバック</h3>
      <div>1つ前のコミットを取り消します。</div>
      <br>
      <div>コミットメッセージの先頭が[auto commit from kickboard]の場合にのみコミットが取り消されます。</div>
      <br>
      <div>注)このprefixはアプリケーションにより自動で挿入されます。</div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-6">
      <h3>コミットメッセージ</h3>
      <span>以下のようなテンプレートでコミットメッセージを書いてください。</span>
      <div class="well">
        <あなたの名前>:<あれば変更内容(空でも可)>
      </div>
    </div>
    <div class="col-xs-6">
      <h3>zipファイル</h3>
      <span>アップロードできるファイルはzipファイルのみです。</span>
      <br>
      <span>アップロードされたzipファイルはpublic/以下にunzipされます。</span>
    </div>
    <div class="col-xs-6">
      <h3>リポジトリ名</h3>
      <span>修正したいリポジトリ名を選択してください。ない場合は連絡ください。</span>
    </div>
    <div class="col-xs-6">
      <h3>注意</h3>
      <span>修正箇所がない場合はコミットされません。</span>
    </div>
  </div>
  <footer class="footer">©asmsuechan 2017</footer>
</div>
